
.notice-top{
    display: flex;
    justify-content: space-between;
    margin: 90px 0 50px 0;
}

.notice-list{
    width: 1280px;
}
.notice-title{
    font-size: 30px;
}
.go-notice-write{
    font-size: 20px;
    margin-top:5px;
    /*공지사항의 중간에 맞추기 위해서 margin-top : 5px줌*/

    border-radius: 5px;
    padding: 7px;
    background-color: #8f8f8f;
    color: #ffffff;
}
.go-notice-write:hover{
    background-color: rgb(143, 143, 143, 0.8);
}
.notice-item{
    margin-bottom: 40px;
}
.notice-item::after{
    content: "";
    display: block;
    border: 0.8px solid #bcbcbc;
    width: 1280px;
    margin-top: 30px;
}

.post-title{
    font-size: 25px;
    margin-bottom: 20px;
}

.post-date{
    margin: 30px 0;
}
