.my-comment-card-list {
  width: 840px;
}

.my-comment-card-item {
  height: 30px;
  margin-bottom: 20px; /* 댓글 사이의 간격을 조절합니다. */
  padding-bottom: 10px; /* 댓글 아래에 추가로 간격을 줍니다. */
  border-bottom: 1px solid #ccc; /* 수평 줄을 그립니다. */
}

.my-comment-card-item a {
  font-size: 18px;
}

.my-comment-date {
  text-align: right;
  margin-top: -16px;
  font-size: 15px;
  color: #888; /* 날짜 텍스트 색상을 원하는 색상으로 설정하세요. */
}


.my-comment-list-top {
  display: flex;
  justify-content: space-between;
  margin: 60px 0 20px;
}

.my-comment-list-total-count {
  font-size: 20px;
  margin: 10px -10px 0 0;
}

.my-recipe-button {
  width: 90px;
  height: 40px;
  font-size: 15px;
  background-color: #ffffff;
  color: #ff6a10;
  border: 1px solid #ff6a10;
  font-weight: 700;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
}

.my-party-button {
  width: 90px;
  height: 40px;
  font-size: 15px;
  background-color: #ffffff;
  margin-left: 10px;
  font-weight: 700;
  color: #ff6a10;
  border: 1px solid #ff6a10;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
}

.my-recipe-button.active {
  background-color: #ff6a10;
  color: #ffffff;
  border: none;
}

.my-party-button.active {
  background-color: #ff6a10;
  color: #ffffff;
  border: none;
}